version: '3.8'

services:
  web:
    build: .
    ports:
      - "5551:5000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - FLASK_ENV=development
    restart: unless-stopped
